<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skaičiavimas</title>
</head>
<body>
    <h1>Skaičiavimo forma</h1>
    <form action="/skaicius" method="GET">
        <label for="test">Įrašykite pirmą skaičių:</label><br>
        <input type="text" id="test" name="test"><br><br>

        <label for="test2">Įrašykite antrą skaičių:</label><br>
        <input type="text" id="test2" name="test2"><br><br>

        <label for="veiksmas">Pasirinkite veiksmą (+, -, *, /):</label><br>   
        <input type="text" id="veiksmas" name="veiksmas"><br><br>   

        <label for="gyvunas">Pasirinkite gyvūną (katė ar šuo):</label><br>   
        <input type="text" id="gyvunas" name="gyvunas"><br><br>   

        <input type="submit" value="Skaičiuoti">
    </form>
</body>
</html>
